*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: black;
    overflow-x: hidden;
}
.background img{
    width: 98.5vw;
    height: 120vh;
    position: relative;
    filter: brightness(25%);
    object-fit: cover;
    z-index: -1;
}
.signin{
    cursor: pointer;
}
.tophalf{
    position: absolute;
    top: -20px;
    display: flex;
    align-items: center;
}
.tophalf img{
    width: 200px;
    margin-left: 6vw;
}
.tophalf .signin{
    font-family: sans-serif;
    font-weight:600;
    font-size: 15px;
    padding: 10px 15px;
    background-color: #e50913;
    color: white;
    border-radius: 5px;
    border: 1px solid #e50913;
    margin-left: 10px;
    height: 40px;
}
.tophalf .lang{
    font-family: sans-serif;
    font-weight:600;
    font-size: 15px;
    padding: 10px 15px;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    height: 40px;
}
.middlehalf p:nth-child(1){
    color: white;
    font-family: sans-serif;
    font-size: 45px;
    font-weight: 600;
    width: 45vw;
    text-align: center;
}
.middlehalf p:nth-child(2),
.middlehalf p:nth-child(3){
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    width: 60vw;
    text-align: center;
}
.buttons{
    width: 67vw;
    display:flex;
    justify-content: end;
}
.middlehalf{
    position: absolute;
    width: 98.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    top: 45%;
}
.lowerhalf{
    display: flex;
    gap: 10px;
    justify-content: center;
    position: absolute;
    top:85%;
    width: 98.5vw;
}
.lowerhalf input{
    width: 30vw;
    height: 50px;
    background-color: #141414;
    border: 1px grey solid;
    border-radius: 5px;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    padding: 0px 20px;
}
.lowerhalf button{
    width: 15vw;
    height: 50px;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #c11219;
    border: 1px solid #c11219;
    border-radius: 5px;
}
.lowerhalf input::placeholder{
    font-family: sans-serif;
    font-size: 20px;
}
.e1{
    position: absolute;
    width: 120%; 
    height: 250px;
    background: linear-gradient(0.25turn, #000000, #dc0c1f, #000000);
    border-radius: 60%/100px;
    top: 110vh;
    left: -10%;
}
.e2{
    position: absolute;
    width: 120%; 
    height: 250px;
    background: linear-gradient(#141d46,black);
    border-radius: 70%/100px;
    top: 111vh;
    left: -10%;
    background-color: white;
}
.heading{
    margin-bottom: 3vh;
    margin-top: 10vh;
    color: white;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 600;
}
.content{
    position: absolute;
    top: 130vh;
}
.box{
    padding: 23px;
    border-radius: 20px;
    width: 38vw;
    height: 29vh;
    background: linear-gradient(to right bottom, #1b224b,#220f1a);
}
.box p:nth-child(1){
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.box p:nth-child(2){
    color: #a5a5b4;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    width: 38vw;
}
.box img{
    transform: translate(32vw,1vh);
    width: 70px;
}
.boxes{
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    
}
.question{
    display: flex;
    align-items: center;
    background-color: #2d2d2d;
    width: 85vw;
    text-align: start;
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    cursor: pointer;
    border: solid 1px black;
    padding: 10px 20px;
    margin-bottom: 7px;
}
.question p:nth-child(1){
    width: 100vw;
}
.question p:nth-child(2){
    width: 70vw;
    display: flex;
    justify-content: end;
    font-size: 60px;
}
.question:hover{
    background-color: rgb(65, 65, 65);
}
.endmain{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.endmain p:nth-child(1){
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 70px;
    margin-bottom: 25px;
}
.lowerendmain{
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 85vw;
}
.lowerendmain input{
    width: 40vw;
    height: 50px;
    background-color: #141414;
    border: 1px grey solid;
    border-radius: 5px;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    padding: 0px 20px;
}
.lowerendmain button{
    width: 15vw;
    height: 50px;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #c11219;
    border: 1px solid #c11219;
    border-radius: 5px;
}
footer{
    position: absolute;
    top: 415vh;
    color: #b6b6b6;
    font-family: sans-serif;
    font-weight: 500;
    padding-left: 7vw;
}
.startfooter{
    padding-bottom: 50px;
}
a{
    color: #b6b6b6;
}
.links{
    width: 75vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.endendfooter .lang{
    font-family: sans-serif;
    font-weight:600;
    font-size: 15px;
    padding: 10px 15px;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    height: 40px;
    margin: 50px 0px;
}
.endendfooter p{
    padding-bottom: 70px;
}
main{
    padding-left: 7vw;
}